Source: argonaut-fai-mirror
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), gettext
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-fai-mirror
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0-1), libnet-ldap-perl, debmirror
Description: Scripts to create a local fai mirror
 Ensemble script to create a local mirror for FAI from LDAP
