Source: libpoe-component-server-jsonrpc-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/POE-Component-Server-JSONRPC/
Vcs-Svn: svn://svn.debian.org/pkg-perl/trunk/libpoe-component-server-jsonrpc-perl/
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-perl/trunk/libpoe-component-server-jsonrpc-perl/

Package: libpoe-component-server-jsonrpc-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libpoe-perl, libclass-accessor-perl, libjson-any-perl
Description: POE tcp and http based JSON-RPC 1.0 server
 This perl POE component allows you easily create a HTTP json rpc server
 inside POE
 .

