Source: libnet-ldap-batch-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclass-accessor-perl, libdata-dump-perl, libnet-ldap-perl,
 libnet-ldap-server-test-perl (>= 0.04), perl
Maintainer: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Net-LDAP-Batch/

Package: libnet-ldap-batch-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libclass-accessor-perl,
 libdata-dump-perl, libnet-ldap-perl, libnet-ldap-server-test-perl (>= 0.04),
 perl
Description: perform a batch of LDAP actions
 Net::LDAP::Batch performs a series of actions against a LDAP server. If any
 of the actions fails, then all the actions in the batch are reverted.
 .
 Be advised: This is not a true ACID-compliant transaction feature, since no
 locking is performed. Instead it is simply a way to execute a series of
 actions without having to worry about checking return values, or error codes,
 or un-doing the changes should any of them fail. Of course, since no ACID
 compliance is claimed, anything could (and likely will) happen if there is
 more than one client attempting to make changes on the same server at the
 same time. You have been warned.
 .
 This description was automagically extracted from the module by dh-make-perl.
