Source: libnet-ldap-class-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libclone-perl, libdata-dump-perl, libdigest-sha1-perl,
 libnet-ldap-batch-perl, libnet-ldap-perl,
 libnet-ldap-server-test-perl (>= 0.09), librose-object-perl, perl
Maintainer: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/Net-LDAP-Class/

Package: libnet-ldap-class-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libclone-perl, libdata-dump-perl,
 libdigest-sha1-perl, libnet-ldap-batch-perl, libnet-ldap-perl,
 libnet-ldap-server-test-perl (>= 0.09), librose-object-perl, perl
Description: object-relational mapper for Net::LDAP
 Net::LDAP::Class (NLC) is an object-relational mapping for LDAP.
 .
 I know, it's all wrong to confuse the ORM model with LDAP since LDAP is not
 relational in the same way that a RDBMS is. But the ORM APIs of projects like
 DBIx::Class and Rose::DB::Object are so fun and easy to use, it seemed like
 LDAP management should be just as fun and easy.
 .
 The architecture of this package is based on Rose::DB::Object, which the
 author uses to great effect for RDBMS management.
 .
 This description was automagically extracted from the module by dh-make-perl.
