[Unit]
Description=Start argonaut-fai-monitor
ConditionPathExists=/usr/sbin/argonaut-fai-monitor
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/argonaut-fai-monitor
PIDFile=/var/run/argonaut/argonaut-fai-monitor.pid

[Install]
WantedBy=multi-user.target

