[Unit]
Description=Start argonaut-client
ConditionPathExists=/usr/sbin/argonaut-client

[Service]
Type=forking
ExecStart=/usr/sbin/argonaut-client
PIDFile=/var/run/argonaut/argonaut-client.pid

[Install]
WantedBy=muli-user.target

