Source: argonaut-fai-server
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-fai-server
Architecture: all
Depends: ${misc:Depends}, argonaut-common (>= 1.0), fai-client (>= 3.2.8), fai-server (>=3.2.8), libnet-ldap-perl
Description: Scripts to enable Argonaut integration with FAI
 Ensemble of programs, script and nfsroot FAI hooks to Integrate
 Argonaut into FAI
