Source: argonaut-server
Section: utils
Priority: optional
Maintainer: FusionDirectory packages maintainers group <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.2
Homepage: http://www.fusiondirectory.org/
Vcs-Browser: http://git.fusiondirectory.org/code/
DM-Upload-Allowed: yes

Package: argonaut-server
Architecture: all
Depends: argonaut-common, libdatetime-perl, libnet-ldap-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl, libfile-pid-perl, libapp-daemon-perl, liblog-handler-perl, libconfig-inifiles-perl, libpoe-perl, libpoe-component-schedule-perl, libpoe-component-server-jsonrpc-perl, libpoe-component-server-simplehttp-perl
Description: argonaut json rpc server to manage deployment system
 .

Package: argonaut-client-management
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, liblog-handler-perl, libfile-pid-perl, libapp-daemon-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: argonaut json rpc client to manage computers
 .

Package: argonaut-client-fai
Architecture: all
Depends: argonaut-common, libconfig-inifiles-perl, liblog-handler-perl, libjson-perl (>= 2.07-1), libjson-rpc-perl
Description: argonaut json rpc client to manage fai installations
 .

