Source: libpoe-component-schedule-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl
Build-Depends-Indep: libdatetime-perl (>= 0.48), libdatetime-set-perl (>= 0.25),
 libdatetime-timezone-perl (>= 1.13), libpoe-perl (>= 1.287)
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/POE-Component-Schedule/

Package: libpoe-component-schedule-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libdatetime-perl (>= 0.48),  libdatetime-set-perl (>= 0.25), libdatetime-timezone-perl (>= 1.13), libpoe-perl (>= 1.287)
Description: Schedule POE events using DateTime::Set iterators
 This perl module is a POE component that sends events to POE client sessions on
 a schedule defined by a DateTime::Set iterator.
