Source: kprogress
Section: kde
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: qt3-dev-tools, libqt3-mt-dev, debhelper (>= 5)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: kprogress
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE login progress indicator
 Kde frontend that displays a progress bar and some informative text
 during login.

