Source: argonaut-agents
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://forge.fusiondirectory.org/projects/goto2
Vcs-Browser: http://git.fusiondirectory.org/code/main/goto2.git/
Vcs-Git: http://git.fusiondirectory.org/main/goto2.git
DM-Upload-Allowed: yes

Package: argonaut-agents-base
Architecture: all
Depends: argonaut-common (>= 1.0-1), argonaut-fai (>= 1.0-1), dialog, libnet-ldap-perl, argonaut-fai-progress (>= 1.0), ntpdate, ethtool
Description: Argonaut agent basic environment
 Provides a basic client integration for Argonaut managed systems.
 The base package will configure remote command-proxy and NTP
 adjustments.
 .

Package: argonaut-agents-kde
Architecture: all
Depends: kdebase, kprogress, xdialog, argonaut-agents-x11, libxml-libxml-perl
Description: Argonaut management environment - KDE integration
 Provides KDE backend for Argonaut managed systems. This includes
 startmenu-/desktop-/application-preconfiguration and login/logout
 script support.
 .

Package: argonaut-agents-x11
Architecture: all
Depends: argonauts-agents-base
Description: Argonaut environment management - X11 integration
 Provides X11 configuration for Argonaut managed systems. This
 includes support for xorg.conf generation and XDMCP best server
 choosing.
 .

Package: argonaut-agents-shares
Architecture: all
Depends: argonaut-agents-base, libpam-storepw, smbclient, fping
Description: Argonaut management environment - share integration
 Provides share integration on login for Argonaut managed systems.
 .

Package: argonaut-agents-profilesync
Architecture: all
Depends: argonaut-agents-base, argonaut-agents-shares, libtie-ixhash-perl, libnet-ldap-perl, libmldbm-perl, rsync (>= 2.6.8)
Description: Argonaut management environment - profile integration
 Provides profile integration for Argonaut managed systems.
 .

Package: argonaut-agents-kiosk3
Architecture: all
Depends: Argonaut-agents-base, bzip2, wget
Description: Argonaut management environment - support scripts for KDE 3 Kiosk 
 Provides KDE 3 kiosk integration for Argonaut managed systems.
 .

Package: argonaut-agents-printmanager
Architecture: all
Depends: argonaut-agents-base, cupsys, libsys-utmp-perl
Description: Argonaut management environment - support scripts for printers
 Provides printers integration for Argonaut managed systems.
 .

Package: argonaut-agents-usbmanager
Architecture: all
Depends: argonaut-agents-base, udev (>=0.090)
Description: Argonaut management environment - support scripts for USB
 Provides usb integration for Argonaut managed systems.
 .

Package: argonaut-agents-ltsp
Architecture: all
Depends: argonaut-agents-base, ltsp-client
Description: Argonaut management environment - support scripts for LTSP
 Provides LTSP integration for Argonaut managed systems.
 .


