Source: argonaut-common
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), coreutils (>= 5.97.5-3)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-common
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, coreutils (>= 6.10-1), ldap-utils, libio-socket-ssl-perl, libnet-ldap-perl, libpath-class-perl
Description: Argonaut common functions and librairies
 Common shell and perl functions used by the Argonaut deployment system.


