Source: argonaut-fai-progress
Section: utils
Priority: optional
Maintainer: FusionDirectory Packagers <fusiondirectory-packages@lists.fusiondirectory.org>
Uploaders: Benoit Mortier <benoit.mortier@opensides.be>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~)
Homepage: https://forge.fusiondirectory.org/projects/argonaut-agents
Vcs-Browser: http://git.fusiondirectory.org/code/main/argonaut-agents.git
Vcs-Git: http://git.fusiondirectory.org/main/argonaut-agents.git
DM-Upload-Allowed: yes

Package: argonaut-fai-progress
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libfile-tail-perl, fai-client, cdebconf, argonaut-common (>= 1.0-1)
Conflicts: fai-progress
Description: Fully Automatic Installation progress bar
 FAI is a non-interactive system to install a Debian GNU/Linux operating
 system unattended on a PC cluster. You can take one or more virgin
 PCs, turn on the power, and after a few minutes, Linux is installed,
 configured, and running on the whole cluster, without any interaction
 necessary.
 .
 This package contains the software needed to show graphical
 or textual progress bars during the installation.
 .
