[Unit]
Description=Start argonaut-server
Documentation=man:argonaut-server(1)
ConditionPathExists=/usr/sbin/argonaut-server
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/sbin/argonaut-server
PIDFile=/var/run/argonaut/argonaut-server.pid

[Install]
WantedBy=multi-user.target
